@font-face {
	font-family: "Krungthep";
  src: url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.eot");
  src: url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.woff") format("woff"), url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.svg#Krungthep") format("svg");
}

body {
	background-color: #fff;
	font-family: serif;
}

header {
	width: 90%;
	height: 50px;
	border-bottom: solid 1px #1d1d1d;
	padding-left: 50px;
	color: #1d1d1d;
	font-family: Krungthep;
}

header span {
	font-size: 50%;
}

.container {
	padding-top: 3%;
	width:100%;
	min-height:300px;
}

.grid-container {
	float: left;
	width: 252px;
	height: 252px;
	margin-left: 50px;
}

.grid-container h2 {
	font-size: 90%;
	color: #1d1d1d;
	text-align: left;
	font-family: Krungthep;
	margin-left: 50px;

}

.grid {
	background-color: #FFF;
	width:252px;
	height:252px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	overflow: auto;
}

.small_grid {
	background-color: #FFF;
	border: solid 1px #1d1d1d;
	width:90px;
	height:90px;
	border-radius: 2px;
	overflow: auto;
	margin-left: 50px;

}

.heuristics {
	text-align: left;
	margin-top: 15%;
}
.heuristics input {
	margin-left: 50px;
}

.row {
	height:33.33%;
}

.cell {
	width:84px;
	height:100%;
	float: left;
	background-size: 84px 84px;
	background-color: #1d1d1d;
	text-align: center;
	color: #fff;
	font-size:190%;
	font-family: Krungthep;
	font-weight: bold;
	position:relative;
	-webkit-box-shadow:inset 0px 0px 0px 0.5px #fff;
  -moz-box-shadow:inset 0px 0px 0px 0.5px #fff;
  box-shadow:inset 0px 0px 0px 0.5px #fff;
}

.small_cell {
	width:30px;
	height:100%;
	float: left;
	text-align: center;
	color: #1d1d1d;
	font-size:80%;
	font-family: Krungthep;
	font-weight: bold;
	position:relative;

	-webkit-box-shadow:inset 0px 0px 0px 0.5px #1d1d1d;
  -moz-box-shadow:inset 0px 0px 0px 0.5px #1d1d1d;
  box-shadow:inset 0px 0px 0px 0.5px #1d1d1d;
}

.cell:hover {
	background-color: rgba(51,151,251,50);
}

.cell span {
	display: block;
	transform: translateY(60%);
}

.small_cell span {
	display: block;
	transform: translateY(50%);
}

#solution_panel {
	width:80%;
	background-color: #FFF;
	min-height:20px;
	color:#1d1d1d;
	font-weight: bold;
	font-size: 24px;
	padding:5px;
	margin-left: 45px;
	font-family: Arial;
	display: block;
}

.statistics {
	font-weight: normal;
	font-family: serif;
	font-size: 11px;
}

.statistics span {
	font-weight: bold;
	font-family: serif;
}

#solution {
	margin-bottom: 6px;
}

#solution span {
	font-weight: normal;
	font-family: serif;
	font-size: 11px;
}

#step_panel {
	width: 60px;
	background-color: #FFF;
	min-height:20px;
	color:#1d1d1d;
	font-weight: bold;
	font-size:9px;
	padding-top:5px;
	margin-top: 3px;
	font-family: Arial;
	display: block;
}

#solve_it {
	background-color:#FFF;
	border-radius:3px;
	border:1px solid #1d1d1d;
	display:inline-block;
	cursor:pointer;
	color:#1d1d1d;
	font-family:Krungthep;
	font-size:11px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;

}
#solve_it:hover {
	background-color: #1d1d1d;
	box-shadow: 1px 1px #1d1d1d, 1px 1px #1d1d1d;
	color: #FFF;
}

.display {
	width: 80%;
	margin-left: 50px;
}

#show_solution {
	background-color:#FFF;
	border-radius:3px;
	border:1px solid #1d1d1d;
	display:inline-block;
	cursor:pointer;
	color:#1d1d1d;
	font-family:Krungthep;
	font-size:11px;
	font-weight:bold;
	padding:6px 15px;
	margin-top: 2%;
	text-decoration:none;
	visibility: hidden;

}
#show_solution:hover {
	background-color:#1d1d1d;
	box-shadow: 1px 1px #B7D8BD, 1px 1px #B7D8BD;
	color: #FFF;
}
